@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

:root {
  --background: #000411;
}

html, body {
  overflow-x: hidden;
  width: 100% !important;
}

body {
  background: var(--background);
  padding-right: 0px !important;
}

input {
  outline: none;
}

input::placeholder {
  color: #E1EFE6;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-list .ant-list-item .ant-list-item-action {
  margin-inline-start: 0px;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-list-vertical .ant-list-item .ant-list-item-meta .ant-list-item-meta-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-list .ant-list-item .ant-list-item-action {
  display: flex;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-table-wrapper .ant-table-filter-trigger {
  color: #EFCB68;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-table-wrapper .ant-table-filter-trigger:hover {
  color: #E1EFE6;
}

:where(.css-dev-only-do-not-override-167hu3y).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select >.ant-upload, :where(.css-dev-only-do-not-override-167hu3y).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select >.ant-upload {
  color: #EFCB68;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn-primary:disabled, :where(.css-dev-only-do-not-override-15uh9l0).ant-btn-primary.ant-btn-disabled {
  cursor: not-allowed;
  border-color: #EFCB68;
  color: #FFF;
  background: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn.ant-btn-sm {
  background-color: #EFCB68;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
  background-color: #EFCB68;
  color: #FFF;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn-primary {
  color: #fff;
  background: #efcb68 !important;
  box-shadow: 0 2px 0 rgba(255, 222, 5, 0.06);
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn-primary.ant-btn-background-ghost {
  color: #efcb68;
  background: transparent !important;
  border-color: #efcb68;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-table-wrapper .ant-table-filter-trigger {
  color: #efcb68;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-table-wrapper .ant-table-filter-trigger:hover {
  color: #efcb68;
  background: rgba(0, 0, 0, 0.06);
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border-color: #FFD639;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn.ant-btn-sm {
  color: #FFF;
  background-color: #EFCB68;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
  color: #FFF;
  background-color: #EFCB68;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-btn-primary.ant-btn-background-ghost {
  color: #efcb68 !important;
  background: transparent !important;
  border-color: #efcb68;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-result .ant-result-title {
  color: #efcb68;
}

:where(.css-dev-only-do-not-override-15uh9l0).ant-result .ant-result-subtitle {
  color: #E1EFE6;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
